[Unit]
Description=BJ Liara database backup
After=docker.service
Requires=docker.service
[Service]
Type=oneshot
ExecStart=/bin/bash /opt/bj-erp/liara/backup.sh
UMask=0077
